/MySet/MySet/obj
/MySet/MySet/bin
/TodoApi/TodoApi/obj
/TodoApi/TodoApi/bin
/MvcMovies/MvcMovies/obj
/MvcMovies/MvcMovies/bin
/WatchDemo/WatchDemo/obj
/WatchDemo/WatchDemo/bin
/WatchDemo/.vs
/TodoApi/.vs
/MySet/.vs
/MvcMovies/.vs
/Middleware/Middleware/bin
/Middleware/Middleware/obj
/Middleware/.vs
/StaticFileDemo/.vs
/StaticFileDemo/StaticFileDemo/bin
/StaticFileDemo/StaticFileDemo/obj
/PhilipYate/CholeDemo/obj
/PhilipYate/CholeDemo/bin
/PhilipYate/CholeDemoTest/obj
/PhilipYate/CholeDemoTest/bin
/PhilipYate/DapperDemoTest/bin
/PhilipYate/DapperDemoTest/obj
/PhilipYate/DapperPro/obj
/PhilipYate/DapperPro/bin
/PhilipYate/PhilipYate.Application/obj
/PhilipYate/PhilipYate.Application/bin
/PhilipYate/PhilipYate.ApplicationTest/bin
/PhilipYate/PhilipYate.ApplicationTest/obj
/PhilipYate/PhilipYate.Domin/obj
/PhilipYate/PhilipYate.Domin/bin
/PhilipYate/PhilipYate.Repository/obj
/PhilipYate/PhilipYate.Repository/bin
