/MySet/MySet/obj
/MySet/MySet/bin
/TodoApi/TodoApi/obj
/TodoApi/TodoApi/bin
/MvcMovies/MvcMovies/obj
/MvcMovies/MvcMovies/bin
/WatchDemo/WatchDemo/obj
/WatchDemo/WatchDemo/bin
/WatchDemo/.vs
/TodoApi/.vs
/MySet/.vs
/MvcMovies/.vs
